ul {
  
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e1efe7;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: center;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover {
  background-color: #bbffda;
}

.active {
  background-color: white;
}